
body {
    margin: 0 auto;
    max-width: 50em;
    font-size: 1.8rem;
    //padding-left: 200px;
    //padding-right: 200px;
}

.site-footer {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.block-embed {
    padding: 1rem;
}

.video-responsive::before {
  padding-bottom: 0%;
}

