
body {
    margin: 0 auto;
    max-width: 50em;
    //padding-left: 200px;
    //padding-right: 200px;
}

.site-footer {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.block-embed {
    padding: 1rem;
}

.video-responsive::before {
  padding-bottom: 0%;
}


header.navbar {
    padding: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.separator {
    width: 100vw;
    left: calc(-50vw + 50%);
}

content {
    .lead_image {
        max-height: 60vh;
        overflow: hidden;
        position: relative;
        margin-bottom: 2rem;
        width: 100vw;
        left: calc(-50vw + 50%);
    
        img {
            margin: 0;
            height: auto;
            width: 100%;
        }
    
    } /* end .lead_image */

}

.feature {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
