{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>

<div class="container">
    <div class="columns">

        {% for blog in blogs %}
        <div class="column col-12">

            <div class="card">

                <div class="card-header">
                    <a href="{{ blog.url }}">
                        <h4 class="card-title"><strong>{{ blog.title }}</strong></h4>
	            </a>
                </div>

                {% image blog.image fill-1200x400-c100 as photo %}
                <a href="{{ blog.url }}">
                     <div class="card-image">
                      <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-responsive" />
                     </div>
                </a>
		{# end card-image #}

		<div class="card-body">
                    {{ blog.first_paragraph |striptags}}
	        </div>

		<div class="card-footer">
			<a href="{{ blog.url }}" class="btn btn-link">
                            Read more <i class="icon icon-arrow-right"></i>
			</a>
	        </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {# end columns #}

</div>

</content>

{% endblock %}

