{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>

	<h1>{{ page.title }}</h1>

        <div class="container">

            {% image page.image fill-200x200-c100 as photo %}
            <figure class="avatar avatar-xl">
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="host-image" />
            </figure>

	    <div class="columns">

                <div class="column col-4">
                    <h4>Experiences</h4>
                    <dl>
                        {% for experience in page.providing_experiences.all  %}
                        <dd>
                            <a href="{{ experience.parent_url }}{{ experience.slug }}">{{ experience.title }}</a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
    
                <div class="column col-4">
                    <h4>Languages Speak</h4>
                    <span class="languages-speak">{{page.languages|join:"/"}}</span>
                </div>
                    
                <div class="column col-4">
                    <h4>Serving In Places</h4>
                    <dl>
                        {% for place in page.places %}
                        <dd>
                            <i class="icon icon-location"></i>
                            <a href="{{place.url}}">{{ place.title }}</a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>

            </div>
	    {# end columns #}

        </div>
        {# end container #}


        <main role="main">
            <h3 class="biography-title">Biography</h3>
            {{ page.body }}
        </main>


</content>
{% endblock %}
