{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>
<h1>{{ page.title }}</h1>
<div class="container">
    <div class="columns">

        {% for host in hosts %}
        <div class="column col-4">

            <div class="card">
                {% image host.image fill-400x168-c100 as photo %}
                <a href="{{ host.url }}">
                     <div class="card-image">
                      <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-responsive" />
                     </div>
                </a>
		{# end card-image #}


                <div class="card-footer">
                    <h4 class="card-title"><a href="{{ host.url }}">{{ host.title }}</a></h4>

		    <div class="divider"></div>

                    <div class="container">

                        <div class="columns">
                            {% for language in host.languages %}
                            <div class="column col-6">
                                <i class="icon icon-check"></i>
                                {{ language.title }}
                            </div>
                            {% endfor %}
    		            </div>

                            <div class="columns">
                            {% for place in host.places  %}
    		            <div class="column col-sm-6">
                                 <i class="icon icon-location"></i>
                                 <a href="{{ place.url }}">{{ place.title }}</a>
                            </div>
                            {% endfor %}
		        </div>

                    </div>
		    {# end container #}

	        </div>
		{# end card-footer #}

            </div>
            {# end card #}

        </div>
        {% endfor %}

    </div>
</div>
</content>
{% endblock %}

{% comment %}
    EXPERIENCES
    You'll notice that for the experiences we don't link directly to the experiences detail
    page. It's mostly to show how we can use a foreignkey relationship within
    the editor interface (e.g. to connect a host to an experience) but then link to
    the parent within the template.

    We do this by defining the parent_url on the ExperiencePage model
{% endcomment %}
