{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>

	<h1>{{ page.title }}</h1>

        <div class="container">

            {% image page.image fill-200x200-c100 as photo %}
            <figure class="avatar avatar-xl">
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="host-image" />
            </figure>

	    <div class="columns">

                <div class="column col-4">
                    <h4>Experiences</h4>
                    <dl>
                        {% for experience in page.providing_experiences.all  %}
                        <dd>
                            <a href="{{ experience.parent_url }}{{ experience.slug }}">{{ experience.title }}</a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
    
                <div class="column col-4">
                    <h4>Languages Speak</h4>
                    <span class="languages-speak">{{page.languages|join:"/"}}</span>
                </div>
                    
                <div class="column col-4">
                    <h4>Serving In Places</h4>
                    <dl>
                        {% for place in page.places %}
                        <dd>
                            <i class="icon icon-location"></i>
                            <a href="{{place.url}}">{{ place.title }}</a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>

            </div>
	    {# end columns #}

        </div>
        {# end container #}


        <main role="main">
            <h3 class="biography-title">Biography</h3>
            {{ page.body }}
        </main>

	<div class="block-header">
	  <h2>Contact</h2>
	</div>

          <div class="columns">
            <div class="column col-9 col-sm-12">
              <form class="form-horizontal" action="#">
                <div class="form-group">
                  <div class="col-3">
                    <label class="form-label" for="input-example-4">Name</label>
                  </div>
                  <div class="col-9">
                    <input class="form-input" type="text" id="input-example-4" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-3">
                    <label class="form-label" for="input-example-5">Email</label>
                  </div>
                  <div class="col-9">
                    <input class="form-input" type="email" id="input-example-5" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-3">
                    <label class="form-label" for="input-example-6">Message</label>
                  </div>
                  <div class="col-9">
                    <textarea class="form-input" id="input-example-6" placeholder="Contact message" rows="7"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-3"></div>
                  <div class="col-9">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-link" type="reset">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

</content>
{% endblock %}
