{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>
<h1>{{ page.title }}</h1>
<div class="places list grid-parent">
    {% for place in places %}
    <div class="list-item list-3">
        <div class="image">
        {% image place.image fill-400x168-c100 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        </div>
        {# end image #}

        <div class="text">
        <h2><a href="{{ place.url }}">{{ place.title }}</a></h2>
        </div>
        <div class="list-item-footer">
            <ul class="experiences">
                {% for experience in place.experiences.all %}
                {% comment %}@TODO create urls.py to use child reference to link to parent{% endcomment %}
                    <li class="experience">
                    {% image experience.image fill-75x75-c100 as experience_photo %}
                        <a href="{{ experience.url }}"><img src="{{ experience_photo.url }}" width="{{ experience_photo.width }}" height="{{ experience_photo.height }}" alt="{{ experience_photo.alt }}" title="{{ experience.title }}" /></a>
                        <small><a href="{{ experience.url }}">{{ experience.title }}</a></small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
</content>
{% endblock %}
