{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>
<h1>{{ page.title }}</h1>
<div class="container">
    <div class="columns">

        {% for place in places %}
        <div class="column col-4">
            <div class="card">

                {% image place.image fill-400x168-c100 as photo %}
                <div class="card-image">
                    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-responsive" />
                </div>
                {# end image #}

                <div class="card-footer">
                    <a href="{{ place.url }}">{{ place.title }}</a>
                </div>
            </div>
	    {# end card #}

        </div>
        {% endfor %}

    </div>
</div>
</content>
{% endblock %}
