{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-page{% endblock %}

{% block content %}
<content>
	<div class="lead_image">
		<div class="gradient"></div>
        {% image page.image width-2000 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" />
    </div>

    <h1>{{ page.title }}</h1>

    <main role="main">
    	{{ page.body }}
    </main>

    <aside>
    <h2>Experiences in {{ page.title }}</h2>
    	<ul class="experiences">
            {% for experience in page.experiences.all  %}
            {% comment %}@TODO create urls.py to use child reference to link to parent{% endcomment %}
                <li class="experience">
                {% image experience.image fill-100x100-c100 as experience_photo %}
                    <a href="{{ experience.url }}"><img src="{{ experience_photo.url }}" width="{{ experience_photo.width }}" height="{{ experience_photo.height }}" alt="{{ experience_photo.alt }}" title="{{ experience.title }}" /></a>
                <small><a href="{{ experience.url }}">{{ experience.title }}</a></small></li>
            {% endfor %}
        </ul>
     </aside>
</content>
{% endblock %}
